body {
    margin: 0;
    padding: 0;
    background-color: #0081ac;
}

a {
    color: #0000EE;
    font-size: small;
}

p + a {
    font-weight: bold;
    font-size: medium;
}

p ~ p {
    font-weight: bold;
}

input[type=text], input[type=password] {
    margin: 0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4%;
}

input[type=submit] {
    margin: 0;
    border: 0;
    padding: 10px;
    border-radius: 4%;
    color: white;
    background-color: #0D579B;
    font-family: Cambria, serif;
}

#flex-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.post-container {
    margin: 0 auto;
    align-items: center;
}

.post-img {
    width: 100%;
    margin-top: 15px;
}

.post {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 1%;
    box-shadow: 4px 4px 20px 3px lightgray;
    margin: 10px;
}

.post:first-of-type {
    margin-top: 50px;
}

.post-top {
    margin: 15px 15px 0px 15px;
    display: flex;
    flex-direction: row;
}

.post-content {
    margin: 0px 15px 10px 15px;
}

.caption {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

.icon {
    width: 7%;
    height: 7%;
}

.date {
    margin: 0;
    width: 100%;
    text-align: right;
    font-style: italic;
    font-family: Cambria, serif;
}

#search-bar {
    width: 100%;
    background-color: white;
    padding: 10px 0px 10px 0px;
}

#search-bar form {
    margin: 0 auto;
    width: 30%;
    display: flex;
}

#search-bar > form input[type=text] {
    width: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-bar > form input[type=submit] {
    width: 25%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.login-container {
    margin: 10% auto 0 auto;
    padding: 15px;
    font-family: Cambria, sans-serif;
}

.login-img {
    position: relative;
    top: 0;
    left: 0;
    width: 15%;
}

.login-info {
    text-align: center;
    margin: -10% auto 0 auto;
}

.login-container > form {
    text-align: center;
    margin: 10px auto 50px auto;
}

.login-container > form input {
    margin: 5px 0 5px 0;
}

.welcome-text {
    font-weight: bold;
    font-size: 20px;
}

.little-text {
    font-weight: normal;
}

@media screen and (max-width: 900px) {
    #flex-container {
        width: 100%;
    }
    
    #search-bar {
        margin-bottom: 25px;
    }
    
    #search-bar form {
        width: 90%;
    }
    
    .post:first-of-type {
        margin-top: 25px;
    }
}